form.container {
	border: 2px solid #dee2e6;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

#output {
	background-color: #eeeeee;
	min-height: 30px;
}

label[for=input] {
	width: 4%;
}
