form.container {
	border: 2px solid #dee2e6;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

#output {
	background-color: #eeeeee;
	min-height: 30px;
}

label[for=input] {
	width: 4%;
}
